<!doctype html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<meta name="description" content="{{ article.post.standfirst }}" />
    <title>The Telegraph: {{ article.post.title }}</title>

<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<link rel="stylesheet" type="text/css" href="static/app.css" />
		<script src="static/app.bundle.js" defer></script>

		<script>

			function sortDate() {

    const container = document.querySelector(".comments-container");

    Array.from(container.querySelectorAll(".comment-details"))
        .map(
            div => [
                new Date(div.querySelector(".published-date").getAttribute('datetime')),
                div
            ]
        )
        .sort(([a], [b]) => b - a) //sort by date
        .forEach(
            ([x, div]) => container.appendChild(div) //append to container (will move it)
        );

}

function sortLikes() {

    const container = document.querySelector(".comments-container");

    Array.from(container.querySelectorAll(".comment-details")) //get items
        .map(
            div => [
                div.querySelector(".like").getAttribute('data-likes'), //parse date
                div //the div containing the data item 
            ]
        )
        .sort(([a], [b]) => b - a) //sort by date
        .forEach(
            ([x, div]) => container.appendChild(div) //append to container (will move it)
        );

}

function speech(clicked_id) {

    const synth = window.speechSynthesis;


    const ut = new SpeechSynthesisUtterance(document.getElementById(clicked_id).textContent);
    synth.speak(ut);


    document.addEventListener("keydown", function(event) {
        const synth = window.speechSynthesis;
        const key = event.key; // 
        if (key === "Escape") {
            synth.cancel();
        }
    });

}
		</script>

	</head>
	<body>
		{{> header }}
		{{{ body }}}
	</body>
</html>
