.comments-container{
    padding: 1.2rem 0;

}
.comment-details {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding: 1.2rem 0;
}

.username {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    flex: 1;
}

.username .heading--6 {
    margin-bottom: 0;
}

.published-date {
    margin-left: 2.4rem;
    font-size: 1.2rem;
    color: #898989;
    font-weight: bold;
}

.like {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-weight: bold;
}

.like span {
    cursor: pointer;
}


