h1,
.heading--1 {
  font-size: 4.1rem;
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: 2.4rem;
}

h2,
.heading--2 {
  font-weight: 300;
  font-size: 3.6rem;
}

h3,
.heading--3 {
  font-size: 3rem;
  font-weight: 300;
}

h4,
.heading--4 {
  font-size: 2.4rem;
  font-weight: 700;
}

h5,
.heading--5 {
  font-size: 2rem;
  font-weight: 700;
}

h6,
.heading--6 {
  font-size: 1.6rem;
  font-weight: 700;
}

.heading--sub,
.heading--tag {
  margin-bottom: 1.2rem;
  font-size: 1rem;
  font-weight: 900;
  text-transform: uppercase;
}

.heading--tag {
  color: #c3c3c3;
}

.heading--number {
  margin-bottom: 1rem;
  font-size: 6rem;
  font-weight: 100;
  line-height: 1;
}

.heading--no {
  position: relative;
  margin-right: 0.9rem;
  font-weight: 900;
}

.heading--no:after {
  content: '';
  position: absolute;
  bottom: -0.2rem;
  left: 0;
  width: 100%;
  border-bottom: 0.1rem solid;
  border-color: inherit;
}

.heading--text {
  font-size: 1.8rem;
}

*[class|='heading'] a {
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

*[class|='heading'] a:hover, *[class|='heading'] a:focus {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 1.2rem;
  font-weight: 300;
  line-height: 1.35;
}

/* iPhone 5 */
@media only screen and (max-width: 320px) {
  .heading--1 {
    font-size: 3.6rem;
  }
  .heading--2 {
    font-size: 3.2rem;
  }
}


.e-standfirst {
  font-size: 2.2rem;
  margin-bottom: 1.2rem;
}