.stories--wrapper {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #ddd;;
    padding: 1.2rem 0;
}

.stories--wrapper:first-of-type {
    border-top: 1px solid #ddd;

}

.stories--wrapper img {
    width: 80px;
    height: 80px;
    margin-right: 1.2rem;
    margin-bottom: 0;
}

.stories-content-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.link {
    text-decoration: underline;
}