html {
    font-size: 10px;
    box-sizing: border-box;
  }
  
  * {
    margin-top: 0;
    box-sizing: inherit;
    outline: none;
  }
  
  *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    font-family: Lato, arial, sans-serif;
    font-size: 1.6rem;
    line-height: 1.58;
    color: #000000;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  
  ::-moz-selection {
    background: yellow;
  }
  
  ::selection {
    background: yellow;
  }
  
  ::-ms-clear {
    display: none;
  }
  
  * a {
    font-size: inherit;
    font-weight: inherit;
    text-decoration: none;
    transition: all 360ms ease;
    color: inherit;
  }
  
  * a:hover, * a:focus {
    color: inherit;
  }
  
  a:hover, a:focus {
    text-decoration: underline;
    cursor: pointer;
  }
  
  .link--1, a {
    color: #0069ba;
  }
  
  .link--1:hover, a:hover, .link--1focus {
    color: #0069ba;
    cursor: pointer;
  }
  
  ul,
  ol,
  ul li,
  ol li {
    margin: 0;
    padding: 0;
    list-style-image: none;
    list-style-type: none;
  }
  
  p,
  table,
  ul,
  ol {
    margin-bottom: 2.4rem;
  }
  
  .image-wrapper {
    position: relative;
  }
  
  .image-wrapper img {
    width: 100%;
    height: 100%;
    margin-bottom: 1.2rem;
    object-fit: cover;
    display: block;
  }

.border-top {
  border-top: 1px solid #ddd;
}