grid {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .grid__content {
    position: relative;
    height: 100%;
    z-index: 1;
  }
  
  .grid--layer-0 {
    z-index: 0;
  }
  
  .grid--layer-1 {
    z-index: 1;
  }
  
  .grid--layer-2 {
    z-index: 2;
  }
  
  .grid--layer-3 {
    z-index: 3;
  }
  
  .grid--layer-4 {
    z-index: 4;
  }
  
  .grid--layer-5 {
    z-index: 5;
  }
  
  .grid--layer-6 {
    z-index: 6;
  }
  
  .grid--layer-7 {
    z-index: 7;
  }
  
  .grid--layer-8 {
    z-index: 8;
  }
  
  .grid--layer-9 {
    z-index: 9;
  }
  
  .grid--layer-10 {
    z-index: 10;
  }
  
  .grid--layer-11 {
    z-index: 11;
  }
  
  .grid--layer-12 {
    z-index: 12;
  }
  
  .grid--padding-1 {
    padding: 3.6rem 2.4rem;
  }
  
  .grid--padding-2 {
    padding: 5.4rem 4.8rem;
  }
  
  .grid--padding-3 {
    padding: 0 2.4rem;
  }
  
  .grid--padding > *:last-child {
    margin-bottom: 1.2rem;
  }
  
  .grid--bd {
    border: 1px solid var(--border-color);
  }
  
  .grid--bdrs {
    border-radius: 0.6rem;
    overflow: hidden;
  }
  
  .grid--as-middle .grid__content > *:last-child, .grid--as-bottom .grid__content > *:last-child {
    margin-bottom: 0;
  }
  
  .grid--hover {
    transition: all 360ms ease;
    cursor: pointer;
  }
  
  .grid--hover:hover, .grid--hover:focus {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
    box-shadow: 0 0 1.8rem 0 var(--shadow);
  }
  
  @supports (display: grid) {
    .grid {
      -ms-grid-row: 1;
          grid-row: 1;
      /* iPad Pro Portrait - iPad Landscape */
      /* iPad Portrait  */
    }
    .grid__wrapper {
      height: 100%;
      -webkit-align-content: start;
          -ms-flex-line-pack: start;
              align-content: start;
      -ms-grid-columns: (1fr)[12];
          grid-template-columns: repeat(12, 1fr);
      grid-column-gap: 10px;
      -ms-grid-row: 1;
          grid-row: 1;
      grid-row-gap: 10px;
      display: -ms-grid;
      display: grid;
    }
    .grid__wrapper--inner {
      -ms-grid-columns: (1fr)[11];
          grid-template-columns: repeat(11, 1fr);
    }
    .grid--as-top {
      -webkit-align-self: start;
          -ms-flex-item-align: start;
                  -ms-grid-row-align: start;
              align-self: start;
      -webkit-align-content: start;
          -ms-flex-line-pack: start;
              align-content: start;
    }
    .grid--as-middle {
      -webkit-align-self: center;
          -ms-flex-item-align: center;
                  -ms-grid-row-align: center;
              align-self: center;
      -webkit-align-content: center;
          -ms-flex-line-pack: center;
              align-content: center;
    }
    .grid--as-bottom {
      -webkit-align-self: end;
          -ms-flex-item-align: end;
                  -ms-grid-row-align: end;
              align-self: end;
      -webkit-align-content: end;
          -ms-flex-line-pack: end;
              align-content: end;
    }
    .grid--column-1 {
      -ms-grid-columns: (1fr)[1];
          grid-template-columns: repeat(1, 1fr);
    }
    .grid--column-2 {
      -ms-grid-columns: (1fr)[2];
          grid-template-columns: repeat(2, 1fr);
    }
    .grid--column-3 {
      -ms-grid-columns: (1fr)[3];
          grid-template-columns: repeat(3, 1fr);
    }
    .grid--column-4 {
      -ms-grid-columns: (1fr)[4];
          grid-template-columns: repeat(4, 1fr);
    }
    .grid--column-5 {
      -ms-grid-columns: (1fr)[5];
          grid-template-columns: repeat(5, 1fr);
    }
    .grid--column-6 {
      -ms-grid-columns: (1fr)[6];
          grid-template-columns: repeat(6, 1fr);
    }
    .grid--column-7 {
      -ms-grid-columns: (1fr)[7];
          grid-template-columns: repeat(7, 1fr);
    }
    .grid--column-8 {
      -ms-grid-columns: (1fr)[8];
          grid-template-columns: repeat(8, 1fr);
    }
    .grid--column-9 {
      -ms-grid-columns: (1fr)[9];
          grid-template-columns: repeat(9, 1fr);
    }
    .grid--column-10 {
      -ms-grid-columns: (1fr)[10];
          grid-template-columns: repeat(10, 1fr);
    }
    .grid--column-11 {
      -ms-grid-columns: (1fr)[11];
          grid-template-columns: repeat(11, 1fr);
    }
    .grid--column-12 {
      -ms-grid-columns: (1fr)[12];
          grid-template-columns: repeat(12, 1fr);
    }
    .grid--span-1 {
      -ms-grid-column: span 1;
          grid-column: span 1;
    }
    .grid--span-2 {
      -ms-grid-column: span 2;
          grid-column: span 2;
    }
    .grid--span-3 {
      -ms-grid-column: span 3;
          grid-column: span 3;
    }
    .grid--span-4 {
      -ms-grid-column: span 4;
          grid-column: span 4;
    }
    .grid--span-5 {
      -ms-grid-column: span 5;
          grid-column: span 5;
    }
    .grid--span-6 {
      -ms-grid-column: span 6;
          grid-column: span 6;
    }
    .grid--span-7 {
      -ms-grid-column: span 7;
          grid-column: span 7;
    }
    .grid--span-8 {
      -ms-grid-column: span 8;
          grid-column: span 8;
    }
    .grid--span-9 {
      -ms-grid-column: span 9;
          grid-column: span 9;
    }
    .grid--span-10 {
      -ms-grid-column: span 10;
          grid-column: span 10;
    }
    .grid--span-11 {
      -ms-grid-column: span 11;
          grid-column: span 11;
    }
    .grid--span-12 {
      -ms-grid-column: span 12;
          grid-column: span 12;
    }
    .grid--se-1-3 {
      grid-column: 1 / 3;
    }
    .grid--se-1-4 {
      grid-column: 1 / 4;
    }
    .grid--se-1-5 {
      grid-column: 1 / 5;
    }
    .grid--se-1-6 {
      grid-column: 1 / 6;
    }
    .grid--se-1-7 {
      grid-column: 1 / 7;
    }
    .grid--se-1-8 {
      grid-column: 1 / 8;
    }
    .grid--se-1-9 {
      grid-column: 1 / 9;
    }
    .grid--se-1-10 {
      grid-column: 1 / 10;
    }
    .grid--se-1-11 {
      grid-column: 1 / 11;
    }
    .grid--se-1-12 {
      grid-column: 1 / 12;
    }
    .grid--se-1-13 {
      grid-column: 1 / 13;
    }
    .grid--se-2-4 {
      grid-column: 2 / 4;
    }
    .grid--se-2-5 {
      grid-column: 2 / 5;
    }
    .grid--se-2-6 {
      grid-column: 2 / 6;
    }
    .grid--se-2-7 {
      grid-column: 2 / 7;
    }
    .grid--se-2-8 {
      grid-column: 2 / 8;
    }
    .grid--se-2-9 {
      grid-column: 2 / 9;
    }
    .grid--se-2-10 {
      grid-column: 2 / 10;
    }
    .grid--se-2-11 {
      grid-column: 2 / 11;
    }
    .grid--se-2-12 {
      grid-column: 2 / 12;
    }
    .grid--se-2-13 {
      grid-column: 2 / 13;
    }
    .grid--se-3-5 {
      grid-column: 3 / 5;
    }
    .grid--se-3-6 {
      grid-column: 3 / 6;
    }
    .grid--se-3-7 {
      grid-column: 3 / 7;
    }
    .grid--se-3-8 {
      grid-column: 3 / 8;
    }
    .grid--se-3-9 {
      grid-column: 3 / 9;
    }
    .grid--se-3-10 {
      grid-column: 3 / 10;
    }
    .grid--se-3-11 {
      grid-column: 3 / 11;
    }
    .grid--se-3-12 {
      grid-column: 3 / 12;
    }
    .grid--se-3-13 {
      grid-column: 3 / 13;
    }
    .grid--se-4-6 {
      grid-column: 4 / 6;
    }
    .grid--se-4-7 {
      grid-column: 4 / 7;
    }
    .grid--se-4-8 {
      grid-column: 4 / 8;
    }
    .grid--se-4-9 {
      grid-column: 4 / 9;
    }
    .grid--se-4-10 {
      grid-column: 4 / 10;
    }
    .grid--se-4-11 {
      grid-column: 4 / 11;
    }
    .grid--se-4-12 {
      grid-column: 4 / 12;
    }
    .grid--se-4-13 {
      grid-column: 4 / 13;
    }
    .grid--se-5-7 {
      grid-column: 5 / 7;
    }
    .grid--se-5-8 {
      grid-column: 5 / 8;
    }
    .grid--se-5-9 {
      grid-column: 5 / 9;
    }
    .grid--se-5-10 {
      grid-column: 5 / 10;
    }
    .grid--se-5-11 {
      grid-column: 5 / 11;
    }
    .grid--se-5-12 {
      grid-column: 5 / 12;
    }
    .grid--se-5-13 {
      grid-column: 5 / 13;
    }
    .grid--se-6-8 {
      grid-column: 6 / 8;
    }
    .grid--se-6-9 {
      grid-column: 6 / 9;
    }
    .grid--se-6-10 {
      grid-column: 6 / 10;
    }
    .grid--se-6-11 {
      grid-column: 6 / 11;
    }
    .grid--se-6-12 {
      grid-column: 6 / 12;
    }
    .grid--se-6-13 {
      grid-column: 6 / 13;
    }
    .grid--se-7-9 {
      grid-column: 7 / 9;
    }
    .grid--se-7-10 {
      grid-column: 7 / 10;
    }
    .grid--se-7-11 {
      grid-column: 7 / 11;
    }
    .grid--se-7-12 {
      grid-column: 7 / 12;
    }
    .grid--se-7-13 {
      grid-column: 7 / 13;
    }
    .grid--se-8-10 {
      grid-column: 8 / 10;
    }
    .grid--se-8-11 {
      grid-column: 8 / 11;
    }
    .grid--se-8-12 {
      grid-column: 8 / 12;
    }
    .grid--se-8-13 {
      grid-column: 8 / 13;
    }
    .grid--se-9-11 {
      grid-column: 9 / 11;
    }
    .grid--se-9-12 {
      grid-column: 9 / 12;
    }
    .grid--se-9-13 {
      grid-column: 9 / 13;
    }
    .grid--se-10-12 {
      grid-column: 10 / 12;
    }
    .grid--se-10-13 {
      grid-column: 10 / 13;
    }
    .grid--se-11-13 {
      grid-column: 11 / 13;
    }
    .grid--row-2 {
      -ms-grid-row: 2;
          grid-row: 2;
      -ms-grid-rows: (1fr)[2];
          grid-template-rows: repeat(2, 1fr);
    }
    .grid--row-3 {
      -ms-grid-row: 3;
          grid-row: 3;
      -ms-grid-rows: (1fr)[3];
          grid-template-rows: repeat(3, 1fr);
    }
    .grid--row-4 {
      -ms-grid-row: 4;
          grid-row: 4;
      -ms-grid-rows: (1fr)[4];
          grid-template-rows: repeat(4, 1fr);
    }
    .grid--row-5 {
      -ms-grid-row: 5;
          grid-row: 5;
      -ms-grid-rows: (1fr)[5];
          grid-template-rows: repeat(5, 1fr);
    }
    .grid--row-6 {
      -ms-grid-row: 6;
          grid-row: 6;
      -ms-grid-rows: (1fr)[6];
          grid-template-rows: repeat(6, 1fr);
    }
    .grid--row-7 {
      -ms-grid-row: 7;
          grid-row: 7;
      -ms-grid-rows: (1fr)[7];
          grid-template-rows: repeat(7, 1fr);
    }
    .grid--row-8 {
      -ms-grid-row: 8;
          grid-row: 8;
      -ms-grid-rows: (1fr)[8];
          grid-template-rows: repeat(8, 1fr);
    }
    .grid--row-9 {
      -ms-grid-row: 9;
          grid-row: 9;
      -ms-grid-rows: (1fr)[9];
          grid-template-rows: repeat(9, 1fr);
    }
    .grid--row-10 {
      -ms-grid-row: 10;
          grid-row: 10;
      -ms-grid-rows: (1fr)[10];
          grid-template-rows: repeat(10, 1fr);
    }
    .grid--row-11 {
      -ms-grid-row: 11;
          grid-row: 11;
      -ms-grid-rows: (1fr)[11];
          grid-template-rows: repeat(11, 1fr);
    }
    .grid--row-12 {
      -ms-grid-row: 12;
          grid-row: 12;
      -ms-grid-rows: (1fr)[12];
          grid-template-rows: repeat(12, 1fr);
    }
    .grid--row-span-1 {
      -ms-grid-row: 1;
          grid-row: 1;
    }
    .grid--row-span-2 {
      -ms-grid-row: 2;
          grid-row: 2;
    }
    .grid--row-span-3 {
      -ms-grid-row: 3;
          grid-row: 3;
    }
    .grid--row-span-4 {
      -ms-grid-row: 4;
          grid-row: 4;
    }
    .grid--row-span-5 {
      -ms-grid-row: 5;
          grid-row: 5;
    }
    .grid--row-span-6 {
      -ms-grid-row: 6;
          grid-row: 6;
    }
    .grid--row-span-7 {
      -ms-grid-row: 7;
          grid-row: 7;
    }
    .grid--row-span-8 {
      -ms-grid-row: 8;
          grid-row: 8;
    }
    .grid--row-span-9 {
      -ms-grid-row: 9;
          grid-row: 9;
    }
    .grid--row-span-10 {
      -ms-grid-row: 10;
          grid-row: 10;
    }
    .grid--row-span-11 {
      -ms-grid-row: 11;
          grid-row: 11;
    }
    .grid--row-span-12 {
      -ms-grid-row: 12;
          grid-row: 12;
    }
    .grid--row-se-1-3 {
      grid-row: 1 / 3;
    }
    .grid--row-se-1-4 {
      grid-row: 1 / 4;
    }
    .grid--row-se-1-5 {
      grid-row: 1 / 5;
    }
    .grid--row-se-1-6 {
      grid-row: 1 / 6;
    }
    .grid--row-se-1-7 {
      grid-row: 1 / 7;
    }
    .grid--row-se-1-8 {
      grid-row: 1 / 8;
    }
    .grid--row-se-1-9 {
      grid-row: 1 / 9;
    }
    .grid--row-se-1-10 {
      grid-row: 1 / 10;
    }
    .grid--row-se-1-11 {
      grid-row: 1 / 11;
    }
    .grid--row-se-1-12 {
      grid-row: 1 / 12;
    }
    .grid--row-se-1-13 {
      grid-row: 1 / 13;
    }
    .grid--row-se-2-4 {
      grid-row: 2 / 4;
    }
    .grid--row-se-2-5 {
      grid-row: 2 / 5;
    }
    .grid--row-se-2-6 {
      grid-row: 2 / 6;
    }
    .grid--row-se-2-7 {
      grid-row: 2 / 7;
    }
    .grid--row-se-2-8 {
      grid-row: 2 / 8;
    }
    .grid--row-se-2-9 {
      grid-row: 2 / 9;
    }
    .grid--row-se-2-10 {
      grid-row: 2 / 10;
    }
    .grid--row-se-2-11 {
      grid-row: 2 / 11;
    }
    .grid--row-se-2-12 {
      grid-row: 2 / 12;
    }
    .grid--row-se-2-13 {
      grid-row: 2 / 13;
    }
    .grid--row-se-3-5 {
      grid-row: 3 / 5;
    }
    .grid--row-se-3-6 {
      grid-row: 3 / 6;
    }
    .grid--row-se-3-7 {
      grid-row: 3 / 7;
    }
    .grid--row-se-3-8 {
      grid-row: 3 / 8;
    }
    .grid--row-se-3-9 {
      grid-row: 3 / 9;
    }
    .grid--row-se-3-10 {
      grid-row: 3 / 10;
    }
    .grid--row-se-3-11 {
      grid-row: 3 / 11;
    }
    .grid--row-se-3-12 {
      grid-row: 3 / 12;
    }
    .grid--row-se-3-13 {
      grid-row: 3 / 13;
    }
    .grid--row-se-4-6 {
      grid-row: 4 / 6;
    }
    .grid--row-se-4-7 {
      grid-row: 4 / 7;
    }
    .grid--row-se-4-8 {
      grid-row: 4 / 8;
    }
    .grid--row-se-4-9 {
      grid-row: 4 / 9;
    }
    .grid--row-se-4-10 {
      grid-row: 4 / 10;
    }
    .grid--row-se-4-11 {
      grid-row: 4 / 11;
    }
    .grid--row-se-4-12 {
      grid-row: 4 / 12;
    }
    .grid--row-se-4-13 {
      grid-row: 4 / 13;
    }
    .grid--row-se-5-7 {
      grid-row: 5 / 7;
    }
    .grid--row-se-5-8 {
      grid-row: 5 / 8;
    }
    .grid--row-se-5-9 {
      grid-row: 5 / 9;
    }
    .grid--row-se-5-10 {
      grid-row: 5 / 10;
    }
    .grid--row-se-5-11 {
      grid-row: 5 / 11;
    }
    .grid--row-se-5-12 {
      grid-row: 5 / 12;
    }
    .grid--row-se-5-13 {
      grid-row: 5 / 13;
    }
    .grid--row-se-6-8 {
      grid-row: 6 / 8;
    }
    .grid--row-se-6-9 {
      grid-row: 6 / 9;
    }
    .grid--row-se-6-10 {
      grid-row: 6 / 10;
    }
    .grid--row-se-6-11 {
      grid-row: 6 / 11;
    }
    .grid--row-se-6-12 {
      grid-row: 6 / 12;
    }
    .grid--row-se-6-13 {
      grid-row: 6 / 13;
    }
    .grid--row-se-7-9 {
      grid-row: 7 / 9;
    }
    .grid--row-se-7-10 {
      grid-row: 7 / 10;
    }
    .grid--row-se-7-11 {
      grid-row: 7 / 11;
    }
    .grid--row-se-7-12 {
      grid-row: 7 / 12;
    }
    .grid--row-se-7-13 {
      grid-row: 7 / 13;
    }
    .grid--row-se-8-10 {
      grid-row: 8 / 10;
    }
    .grid--row-se-8-11 {
      grid-row: 8 / 11;
    }
    .grid--row-se-8-12 {
      grid-row: 8 / 12;
    }
    .grid--row-se-8-13 {
      grid-row: 8 / 13;
    }
    .grid--row-se-9-11 {
      grid-row: 9 / 11;
    }
    .grid--row-se-9-12 {
      grid-row: 9 / 12;
    }
    .grid--row-se-9-13 {
      grid-row: 9 / 13;
    }
    .grid--row-se-10-12 {
      grid-row: 10 / 12;
    }
    .grid--row-se-10-13 {
      grid-row: 10 / 13;
    }
    .grid--row-se-11-13 {
      grid-row: 11 / 13;
    }
    @media only screen and (max-width: 1024px) {
      .grid__wrapper .grid__wrapper:not([class*='grid--column-']) {
        -ms-grid-columns: (1fr)[1];
            grid-template-columns: repeat(1, 1fr);
      }
    }
    @media only screen and (max-width: 768px) {
      .grid {
        -ms-grid-row: auto;
            grid-row: auto;
      }
      .grid--full {
        -ms-grid-column: span 12;
            grid-column: span 12;
      }
      .grid--span-1, .grid--span-2, .grid--span-3, .grid--span-4, .grid--span-5, .grid--se-1-3, .grid--se-1-4, .grid--se-1-5, .grid--se-1-6, .grid--se-1-7, .grid--se-2-4, .grid--se-2-5, .grid--se-2-6, .grid--se-2-7, .grid--se-2-8, .grid--se-3-5, .grid--se-3-6, .grid--se-3-7, .grid--se-3-8, .grid--se-3-9, .grid--se-4-6, .grid--se-4-7, .grid--se-4-8, .grid--se-4-9, .grid--se-4-10, .grid--se-5-7, .grid--se-5-8, .grid--se-5-9, .grid--se-5-10, .grid--se-5-11, .grid--se-6-8, .grid--se-6-9, .grid--se-6-10, .grid--se-6-11, .grid--se-6-12, .grid--se-7-9, .grid--se-7-10, .grid--se-7-11, .grid--se-7-12, .grid--se-7-13, .grid--se-8-10, .grid--se-8-11, .grid--se-8-12, .grid--se-8-13, .grid--se-9-11, .grid--se-9-12, .grid--se-9-13, .grid--se-10-12, .grid--se-10-13, .grid--se-11-13 {
        -ms-grid-column: span 12;
            grid-column: span 12;
      }
      .grid--span-6, .grid--span-7, .grid--span-8, .grid--span-9, .grid--span-10, .grid--span-11, .grid--span-12, .grid--se-1-8, .grid--se-1-9, .grid--se-1-10, .grid--se-1-11, .grid--se-1-12, .grid--se-1-13, .grid--se-2-9, .grid--se-2-10, .grid--se-2-11, .grid--se-2-12, .grid--se-2-13, .grid--se-3-10, .grid--se-3-11, .grid--se-3-12, .grid--se-3-13, .grid--se-4-11, .grid--se-4-12, .grid--se-4-13, .grid--se-5-12, .grid--se-5-13, .grid--se-6-13 {
        -ms-grid-column: span 12;
            grid-column: span 12;
      }
      .grid *[class*='grid--span-'] {
        margin-bottom: 2.4rem;
      }
      .grid *[class*='grid--span-']:last-of-type {
        margin-bottom: 0;
      }
      .grid__wrapper .grid__wrapper[class*='grid--column-'] {
        -ms-grid-columns: (1fr)[12];
            grid-template-columns: repeat(12, 1fr);
      }
    }
  }
  
  @media all and (-ms-high-contrast: none) {
    .grid__wrapper {
      width: calc(100% + 24px);
      height: 100%;
      margin-left: -12px;
      display: table;
    }
    .grid--as-top {
      vertical-align: top;
    }
    .grid--as-middle {
      vertical-align: middle;
    }
    .grid--as-bottom {
      vertical-align: bottom;
    }
    .grid--span-1 {
      width: 8.33%;
    }
    .grid--span-2, .grid--se-1-3, .grid--se-2-4, .grid--se-3-5, .grid--se-4-6, .grid--se-5-7, .grid--se-6-8, .grid--se-7-9, .grid--se-8-10, .grid--se-9-11, .grid--se-10-12, .grid--se-11-13 {
      width: 16.66%;
    }
    .grid--span-3, .grid--se-1-4, .grid--se-2-5, .grid--se-3-6, .grid--se-4-7, .grid--se-5-8, .grid--se-6-9, .grid--se-7-10, .grid--se-8-11, .grid--se-9-12, .grid--se-10-13 {
      width: 25%;
    }
    .grid--span-4, .grid--se-1-5, .grid--se-2-6, .grid--se-3-7, .grid--se-4-8, .grid--se-5-9, .grid--se-6-10, .grid--se-7-11, .grid--se-8-12, .grid--se-9-13 {
      width: 33.33%;
    }
    .grid--span-5, .grid--se-1-6, .grid--se-2-7, .grid--se-3-8, .grid--se-4-9, .grid--se-5-10, .grid--se-6-11, .grid--se-7-12, .grid--se-8-13 {
      width: 41.66%;
    }
    .grid--span-6, .grid--se-1-7, .grid--se-2-8, .grid--se-3-9, .grid--se-4-10, .grid--se-5-11, .grid--se-6-12, .grid--se-7-13 {
      width: 50%;
    }
    .grid--span-7, .grid--se-1-8, .grid--se-2-9, .grid--se-3-10, .grid--se-4-11, .grid--se-5-12, .grid--se-6-13 {
      width: 58.33%;
    }
    .grid--span-8, .grid--se-1-9, .grid--se-2-10, .grid--se-3-11, .grid--se-4-12, .grid--se-5-13 {
      width: 66.66%;
    }
    .grid--span-9, .grid--se-1-10, .grid--se-2-11, .grid--se-3-12, .grid--se-4-13 {
      width: 75%;
    }
    .grid--span-10, .grid--se-1-11, .grid--se-2-12, .grid--se-3-13 {
      width: 83.33%;
    }
    .grid--span-11,
    .grid--se-1-12 .grid--se-2-13 {
      width: 91.66%;
    }
    .grid--span-12, .grid--se-1-13 {
      width: 100%;
    }
  }
  
  /* iPhone 6 onwards */
  @media only screen and (max-width: 480px) {
    *[class*='grid--span-'],
    *[class*='grid--se-'] {
      -ms-grid-column: span 12;
          grid-column: span 12;
    }
  }
  
  @media all and (-ms-high-contrast: none) {
    div[class*='grid--span-']:not(.grid--padding),
    div[class*='grid--se-']:not(.grid--padding) {
      padding: 0 12px;
      display: table-cell;
    }
    div[class*='grid--layer-']:not(.grid--layer-0) {
      position: absolute;
    }
    div[class*='grid--layer-']:not(.grid--layer-0).grid--as-middle {
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
    }
    div[class*='grid--layer-']:not(.grid--layer-0).grid--as-bottom {
      top: 100%;
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%);
    }
    div[class*='grid--se-2-'] {
      margin-left: 8.33%;
    }
    div[class*='grid--se-3-'] {
      margin-left: 16.66%;
    }
    div[class*='grid--se-4-'] {
      margin-left: 25%;
    }
    div[class*='grid--se-5-'] {
      margin-left: 33.33%;
    }
    div[class*='grid--se-6-'] {
      margin-left: 41.66%;
    }
    div[class*='grid--se-7-'] {
      margin-left: 50%;
    }
    div[class*='grid--se-8-'] {
      margin-left: 58.33%;
    }
    div[class*='grid--se-9-'] {
      margin-left: 66.66%;
    }
    div[class*='grid--se-10-'] {
      margin-left: 75%;
    }
    div[class*='grid--se-11-'] {
      margin-left: 83.33%;
    }
  }