html,
body {
  width: 100%;
  height: 100%;
  
}

.header,
.main,
.footer {
  position: relative;
  width: 100%;
  transition: background-color 360ms ease;
  background: var(--background-color);
  color: var(--color);
  margin-top: 1.2rem;
}


.wrapper--full {
  position: relative;
  width: 100%;
  z-index: 1;
}

.wrapper--full .grid__wrapper {
  padding: 0;
}

.wrapper--1,
.wrapper--2,
.wrapper--3 {
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 0 2.4rem;
  z-index: 1;
  /* iPhone 6 onwards */
  /* iPhone 5 */
}

@media only screen and (max-width: 480px) {
  .wrapper--1,
  .wrapper--2,
  .wrapper--3 {
    padding: 0 1.8rem;
  }
}

@media only screen and (max-width: 320px) {
  .wrapper--1,
  .wrapper--2,
  .wrapper--3 {
    padding: 0 1.2rem;
  }
}

.wrapper--1 {
  max-width: 153.6rem;
}

.wrapper--2 {
  max-width: 106.8rem;
}

.wrapper--3 {
  max-width: 76.8rem;
}

div[class='wrapper--*']:not(.wrapper--full) .wrapper--full {
  width: calc(100vw - 12rem);
  margin: 0 calc(50% - 50vw);
}

div[class='wrapper--*']:not(.wrapper--full) .wrapper--1 {
  width: calc(100vw - 12rem);
  max-width: calc(136.8rem - 4.8rem);
  margin: 0 calc(50% - 136.8rem / 2 + 2.4rem);
  /* Print */
}

@media only screen and (max-width: 1368px) {
  div[class='wrapper--*']:not(.wrapper--full) .wrapper--1 {
    width: calc(100vw - 4.8rem);
    margin: 0px calc(50% - 100vw / 2 + 2.4rem);
  }
}

@media print {
  div[class='wrapper--*']:not(.wrapper--full) .wrapper--1 {
    width: 100%;
    margin: 0;
  }
}

div[class='wrapper--*']:not(.wrapper--full) .wrapper--2 {
  width: calc(100vw - 12rem);
  max-width: calc(106.8rem - 4.8rem);
  margin: 0 calc(50% - 106.8rem / 2 + 2.4rem);
  /* Print */
}

@media only screen and (max-width: 1068px) {
  div[class='wrapper--*']:not(.wrapper--full) .wrapper--2 {
    width: calc(100vw - 4.8rem);
    margin: 0px calc(50% - 100vw / 2 + 2.4rem);
  }
}

@media print {
  div[class='wrapper--*']:not(.wrapper--full) .wrapper--2 {
    width: 100%;
    margin: 0;
  }
}

div[class='wrapper--*']:not(.wrapper--full) .wrapper--3 {
  width: calc(100vw - 12rem);
  max-width: calc(76.8rem - 4.8rem);
  margin: 0 calc(50% - 76.8rem / 2 + 2.4rem);
  /* Print */
}

@media only screen and (max-width: 768px) {
  div[class='wrapper--*']:not(.wrapper--full) .wrapper--3 {
    width: calc(100vw - 4.8rem);
    margin: 0px calc(50% - 100vw / 2 + 2.4rem);
  }
}

@media print {
  div[class='wrapper--*']:not(.wrapper--full) .wrapper--3 {
    width: 100%;
    margin: 0;
  }
}

.section {
  position: relative;
  width: 100%;
  z-index: 1;
  /* Print */
}

.section--spacing-above {
  padding-top: 5.4rem;
}

.section--spacing-below {
  padding-bottom: 5.4rem;
}
