<section id="ourproducts" class="section section--scroll section--spacing-above section--spacing-below">
   <div class="wrapper--1" style="
      ">
      <div class="grid__wrapper">
         <div class="grid grid--full grid--se-3-10">
            <h1 class="heading--1" id="articletittle" onClick="speech(this.id)">
               {{ article.post.title }}
            </h1>
            <p class="e-standfirst" id="standfirst" onClick="speech(this.id)">
               {{ article.post.standfirst }}            
            </p>
            <time id="article-date" class="article-date" datetime="{{ article.post.date }}" data-test="time" onClick="speech(this.id)">
            </time>
         </div>
      </div>
      <div class="grid__wrapper">
         <div class="grid grid--full grid--se-1-9">
            <div class="image-wrapper article-image"><img src="{{ article.post.image }}" alt="{{ article.post.title }}"></div>
         </div>
         <div class="grid grid--full grid--se-10-13">
                <h5 class="heading--6">More Stories</h5> 
                {{setVar "categoryGlobal" article.post.category}}
               {{#posts.posts}}
            
               {{#ifCond category ../categoryGlobal}}  

                <div class="stories--wrapper">
                    <div class="image-wrapper"><img src="{{thumbnail}}" alt="{{title}}"></div>
                    <div class="stories-content-wrapper">
                        <div class="stories-content">
                            <h5 class="heading--6">{{title}}</h5>
                            <a href="#" class="link">Read More</a>
                        </div>
                    </div>
                </div>   
            {{/ifCond}}                

            {{/posts.posts}}
                
        </div>
      </div>
      <div class="grid__wrapper">
         <div class="grid grid--full grid--se-3-9">
            <div id="articleinformation" class="article-information" onClick="speech(this.id)">
               {{{ article.post.body }}}
            </div>
            
         </div>
      </div>
      <div class="grid__wrapper">
         <div class="grid grid--full grid--se-3-9">
            <div class="comment-details border-top">
               <div class="username">
                  <div style="display: flex;
                     flex-direction: row;
                     align-items: baseline;">
                     <h5 class="heading--6"><i class="fas fa-comment"></i> {{comment.comments.length}} Comments</h5>
                  </div>
               </div>
               <div class="like">
                  Sort:&nbsp;&nbsp;<span onclick="sortLikes()">Likes</span>&nbsp;&nbsp;|&nbsp;&nbsp;<span id="newest" onclick="sortDate()">Newest</span>
               </div>
            </div>
            <div class="comments-container">
               

               
               {{#comment.comments}}

               <div class="comment-details">
                  <div class="username">
                     <div style="display: flex;
                        flex-direction: row;
                        align-items: baseline;">
                        <h5 class="heading--6">{{ name }}</h5>
                                             
                        <time class="published-date" datetime="{{ date }}" data-test="time"></time>
                     </div>
                     <div class="comment">
                        <p>{{ body }}</p>
                     </div>
                  </div>
                  <div class="like" data-likes="{{ likes }}">
                     {{ likes }} Likes
                  </div>
               </div>
               {{/comment.comments}}
               
            </div>
         </div>
      </div>
   </div>
</section>